@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: black;
}

.animation {
  flex: 5;
  transition: ease-in-out 0.75s;
}

body {
  background-color: black;
}

.wrap {
  height: 65vh;
  margin-top: 15.5vh;
  display: grid;
  grid-auto-columns: 23.5vw;
  grid-auto-flow: column;
  width: min-content;
  gap: 2vw;
}
